<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div>
<h1><%= @user.username %>'s profile</h1>

<% if current_user == @user %><%= link_to "Create A New Post", new_user_post_path(current_user.id) %> 
<% end %>

<% if current_user == @user %> <%= link_to "Edit Your Account Info", edit_user_path(current_user.id) %> 
<% end %>

<% if current_user == @user %> <%= link_to "Delete Your Account", @user, :method => :delete, data: {confirm: "This is your last chance to change your mind!"} %> 
<% end %>


<% @posts.reverse.each do |post| %>
    <div>
        <h3>
        <%= post.id %> <%= link_to post.title, user_post_path(@user.id, post.id) %>
        </h3>
        <% if current_user == @user %>
        <%= link_to 'Edit',  edit_user_post_path(current_user, post.id) %>
        <%= link_to 'Delete', post, :method => :delete, data: {confirm: "This is your last chance to change your mind!"} %>
        <% end %>
        <p><%= post.content %></p>
    </div>
<% end %>  
</div>
