<h1>Edit This Post</h1>


<%= form_for @post do |f|  %>
    <div>
        <%= f.label "Title" %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div>
        <%= f.label "Content" %>
        <%= f.text_field :content, class: 'form-control' %>
    </div>
    <div>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
<% end %>
